version: '3.2'
services:

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - bazarr-config:/config
      - /media/movies:/movies
      - /media/tv:/tv 
    ports:
      - 6767:6767
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Media Backend'
      - homepage.name=Bazarr
      - homepage.icon=https://raw.githubusercontent.com/morpheus65535/bazarr/master/frontend/public/images/logo64.png
      - homepage.href=https://bazarr.antcar.casa

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
    - 8359:8080
    volumes:
    - /:/rootfs:ro
    - /var/run:/var/run:rw
    - /sys:/sys:ro
    - /var/lib/docker/:/var/lib/docker:ro
    depends_on:
    - redis-cadvisor
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - homepage.group=Observability
      - homepage.name=CAdvisor
      - homepage.icon=https://netdata.cloud/img/cadvisor.png
      - homepage.href=https://cadvisor.antcar.casa

  cloudflared:
    container_name: cloudflared
    image: cloudflare/cloudflared:1347-4c3417fedda9
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN={{ bw_secrets.cloudflared_tunnel_token }}
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"

  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - DELUGE_LOGLEVEL=info
    volumes:
      - deluge-config:/config
      - /media/downloads:/downloads
    ports:
      - 8112:8112
      - 6881:6881
      - 6881:6881/udp
      - 58846:58846 #optional
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Media Backend'
      - homepage.name=Deluge
      - homepage.icon=https://upload.wikimedia.org/wikipedia/commons/8/85/Deluge-Logo.svg
      - homepage.href=https://deluge.antcar.casa

  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - homepage.group=Observability
      - homepage.name=Dozzle
      - homepage.icon=https://raw.githubusercontent.com/selfhosters/unRAID-CA-templates/master/templates/img/dozzle.png
      - homepage.href=https://dozzle.antcar.casa

  esphome:
    image: esphome/esphome:latest
    container_name: esphome
    volumes:
      - esphome-config:/config:rw
      # Use local time for logging timestamps
      - /etc/localtime:/etc/localtime:ro
    network_mode: host
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Home Automation'
      - homepage.name=ESPHome
      - homepage.icon=https://raw.githubusercontent.com/digiblur/unraid-docker-templates/master/images/esphome.png
      - homepage.href=https://esphome.antcar.casa

  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    restart: unless-stopped
    ports:
     - '3002:3000'
    volumes:
      - grafana:/var/live/grafana
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - homepage.group=Observability
      - homepage.name=Grafana
      - homepage.icon=https://upload.wikimedia.org/wikipedia/commons/3/3b/Grafana_icon.svg
      - homepage.href=https://grafana.antcar.casa

  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:2024.3
    volumes:
      - /root/home-assistant-config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
    labels:
      - 'homepage.group=Home Automation'
      - 'homepage.name=Home Assistant'
      - homepage.icon=https://upload.wikimedia.org/wikipedia/en/4/49/Home_Assistant_logo_%282023%29.svg
      - homepage.href=https://ha.antcar.casa

  homeassistant-s3-backup:
    container_name: homeassistant-s3-backup
    image: istepanov/backup-to-s3:latest
    restart: always
    environment:
      - ACCESS_KEY={{ bw_secrets.s3_backup_aws_access_key }}
      - 'SECRET_KEY={{ bw_secrets.s3_backup_aws_secret_key }}'
      - S3_PATH=s3://anthonymag-backups/homeassistant/
      - 'CRON_SCHEDULE=0 4 * * *'
    volumes:
      - /root/home-assistant-config/backups:/data:ro
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 3001:3000
    volumes:
      - /services/homepage/config:/app/config
      - /services/homepage/icons:/app/public/icons
      - /media:/media:ro
      - /mnt/media:/nas:ro
      - /var/run/docker.sock:/var/run/docker.sock 
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: root:root
    network_mode: 'host'
    group_add:
      - "109" # render group
      - "44" # video group
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - jellyfin-config:/config
      - jellyfin-cache:/cache
      - type: bind
        source: /mnt/media/tv
        target: /media/tv
      - type: bind
        source: /media/movies
        target: /media/movies
      - type: bind
        source: /mnt/media/anime
        target: /media/anime
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.antcar.casa
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - homepage.group=Media
      - homepage.name=Jellyfin
      - homepage.icon=https://raw.githubusercontent.com/jellyfin/jellyfin-ux/master/branding/SVG/icon-transparent.svg
      - homepage.href=https://jellyfin.antcar.casa

  mosquitto:
    image: eclipse-mosquitto:latest
    restart: always
    network_mode: host
    container_name: mqtt
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - /root/mosquitto/config:/mosquitto/config
      - /root/mosquitto/data:/mosquitto/data
      - /root/mosquitto/log:/mosquitto/log
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"

  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: root
    ports:
      - '4533:4533'
    restart: unless-stopped
    environment:
      - ND_SCANSCHEDULE=1h
      - ND_LOGLEVEL=info
      - ND_SESSIONTIMEOUT=730h # 1 month
      - ND_ENABLESHARING=true
      - 'ND_BASEURL=https://music.antcar.casa'
      - 'ND_UILOGINBACKGROUNDURL=aHR0cHM6Ly9mcmVlNGt3YWxscGFwZXJzLmNvbS91cGxvYWRzL29yaWdpbmFscy8yMDIwLzAyLzI1L3BlcnNvbmEtbmlnaHR0aW1lLXRva3lvLXdhbGxwYXBlcgo='
    volumes:
      - navidrome-data:/data
      - /mnt/media/music:/music:ro
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - homepage.group=Media
      - homepage.name=Navidrome
      - homepage.icon=https://raw.githubusercontent.com/selfhosters/unRAID-CA-templates/master/templates/img/navidrome.png
      - homepage.href=https://music.antcar.casa

  nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx
    restart: unless-stopped
    ports:
      - 81:81    # admin page
      - 8000:80  # HTTP
      - 443:443 # HTTPS
    volumes:
      - /services/nginx/data:/data
      - /services/nginx/letsencrypt:/etc/letsencrypt
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - homepage.group=Networking
      - homepage.name=Nginx
      - homepage.icon=https://nginxproxymanager.com/icon.png
      - homepage.href=https://nginx.antcar.casa

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    depends_on:
    - cadvisor
    ports:
      - 9090:9090
    restart: unless-stopped
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - /var/lib/prometheus:/etc/prometheus
      - prom-data:/prometheus
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - homepage.group=Observability
      - homepage.name=Prometheus
      - homepage.icon=https://upload.wikimedia.org/wikipedia/commons/3/38/Prometheus_software_logo.svg
      - homepage.href=https://prometheus.antcar.casa

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - prowlarr-data:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Media Backend'
      - homepage.name=Prowlarr
      - homepage.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/prowlarr-logo.png
      - homepage.href=https://prowlarr.antcar.casa

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /services/radarr/config:/config
      - /mnt/media/movies:/media
      - /media/downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Media Backend'
      - 'homepage.name=Radarr'
      - homepage.icon=/icons/radarr.svg
      - homepage.href=https://radarr.antcar.casa

  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    user: "{{ default_user_uid }}:{{ default_user_gid }}"
    volumes:
      - /services/recyclarr/config:/config
    environment:
      - TZ={{ time_zone }}
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"

  redis-cadvisor:
    image: redis:latest
    container_name: redis-cadvisor
    ports:
    - 6379:6379
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"

  root-s3-backup:
    container_name: root-s3-backup
    image: istepanov/backup-to-s3:latest
    restart: always
    environment:
      - ACCESS_KEY={{ bw_secrets.s3_backup_aws_access_key }}
      - 'SECRET_KEY={{ bw_secrets.s3_backup_aws_secret_key }}'
      - S3_PATH=s3://anthonymag-backups/root/
      - 'CRON_SCHEDULE=0 5 * * *'
    volumes:
      - /root-backups:/data:ro
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - sabnzbd-config:/config
      - /media/downloads:/downloads
    ports:
      - 8990:8080
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Media Backend'
      - homepage.name=SABnzbd
      - homepage.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/sabnzbd-logo.png
      - homepage.href=https://sabnzbd.antcar.casa

  samba:
    image: ghcr.io/servercontainers/samba:latest
    container_name: samba
    restart: unless-stopped
    environment:
      ACCOUNT_{{ bw_secrets.samba_username01 }}: {{ bw_secrets.samba_password01 }}
      ACCOUNT_{{ bw_secrets.samba_username02 }}: {{ bw_secrets.samba_password02 }}
      UID_{{ bw_secrets.samba_username01 }}: 102
      UID_{{ bw_secrets.samba_username02 }}: 101
      SAMBA_VOLUME_CONFIG_media: |
        [media]
         path = /shares/media
         guest ok = no
         browseable = yes
         public = no
         writeable = yes
         available = yes
         write list = {{ bw_secrets.samba_username01 }}, {{ bw_secrets.samba_username02 }}
      SAMBA_VOLUME_CONFIG_services: |
        [services]
         path = /shares/services
         guest ok = no
         browseable = yes
         public = no
         writeable = yes
         available = yes
         write list = {{ bw_secrets.samba_username01 }}, {{ bw_secrets.samba_username02 }}
      SAMBA_VOLUME_CONFIG_drive: |
        [drive]
         path = /shares/drive
         guest ok = no
         browseable = yes
         public = no
         writeable = yes
         available = yes
         write list = {{ bw_secrets.samba_username01 }}, {{ bw_secrets.samba_username02 }}
      SAMBA_VOLUME_CONFIG_drive2: |
        [drive2]
         path = /shares/drive2
         guest ok = no
         browseable = yes
         public = no
         writeable = yes
         available = yes
         write list = {{ bw_secrets.samba_username01 }}, {{ bw_secrets.samba_username02 }}
      SAMBA_VOLUME_CONFIG_root: |
        [root]
         path = /shares/root
         guest ok = no
         browseable = yes
         public = no
         writeable = yes
         available = yes
         write list = anthony, caroll
      SAMBA_CONF_LOG_LEVEL: 3
    volumes:
      - /media:/shares/media
      - /services:/shares/services
      - /drive:/shares/drive
      - /drive2:/shares/drive2
      - /root:/shares/root
    ports:
      - 445:445
    cap_add:
      - CAP_NET_ADMIN
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"

  sonarr-tv:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr-tv
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - sonarr-data:/config
      - /mnt/media/tv:/media
      - /media/downloads:/downloads
    ports:
      - 8992:8989
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Media Backend'
      - 'homepage.name=Sonarr (TV)'
      - homepage.icon=https://raw.githubusercontent.com/binhex/docker-templates/master/binhex/images/sonarr-icon.png
      - homepage.href=https://tv.antcar.casa

  sonarr-anime:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr-anime
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - sonarr-anime-data:/config
      - /mnt/media/anime:/media
      - /media/downloads:/downloads
    ports:
      - 8991:8989
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Media Backend'
      - 'homepage.name=Sonarr (Anime)'
      - homepage.icon=https://raw.githubusercontent.com/binhex/docker-templates/master/binhex/images/sonarr-icon.png
      - homepage.href=https://weeb.antcar.casa

  speedtest:
    container_name: speedtest
    image: henrywhitaker3/speedtest-tracker:dev
    ports:
      - 8765:80
    volumes:
      - /root/speedtest-data:/config
    environment:
      - TZ=America/New_York
      - PGID=
      - PUID=
      - OOKLA_EULA_GDPR=true
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    restart: unless-stopped
    labels:
      - homepage.group=Observability
      - homepage.name=Speedtest
      - homepage.icon=https://cdn.worldvectorlogo.com/logos/speedtest.svg
      - homepage.href=https://speedtest.antcar.casa

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:latest
    restart: unless-stopped
    volumes:
      - /root/zigbee2mqtt/data:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - 8080:8080
    environment:
      - TZ=America/New_York
    devices:
      - /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_323cbd3fdb66ec11b6f72342ef680de7-if00-port0:/dev/ttyACM0
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Home Automation'
      - homepage.name=Zigbee2MQTT
      - homepage.icon=https://raw.githubusercontent.com/Koenkk/zigbee2mqtt/dev/images/logo_vector.svg
      - homepage.href=https://z2m.antcar.casa

  zwave-js-ui:
    container_name: zwave
    image: zwavejs/zwave-js-ui:latest
    restart: always
    tty: true
    stop_signal: SIGINT
    environment:
      - SESSION_SECRET={{ bw_secrets.zwave_session_secret }}
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
      - TZ=America/New_York
    networks:
      - zwave
    devices:
      # Do not use /dev/ttyUSBX serial devices, as those mappings can change over time.
      # Instead, use the /dev/serial/by-id/X serial device for your Z-Wave stick.
      - '/dev/serial/by-id/usb-Silicon_Labs_Zooz_ZST10_700_Z-Wave_Stick_ccd9f8b4da60ec11907e3d7625bfaa52-if00-port0:/dev/zwave'
    volumes:
      - /root/zwave-config:/usr/src/app/store
    ports:
      - '8091:8091' # port for web interface
      - '3000:3000' # port for Z-Wave JS websocket server
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Home Automation'
      - homepage.name=ZWave-JS-UI
      - homepage.icon=https://raw.githubusercontent.com/digiblur/unraid-docker-templates/master/images/zwave-js-ui.png
      - homepage.href=https://zwave.antcar.casa

{% for service in media_services %}
  {{ service.name }}:
    image: {{ service.image }}:{{ service.version }}
    container_name: {{ service.name }}
    environment:
      - PUID={{ default_user_uid }}
      - PGID={{ default_user_gid }}
      - TZ={{ time_zone }}
    volumes:
      - /services/{{ service.name }}/config:/config
      - /mnt/media/{{ service.type }}:/media
      - /media/downloads:/downloads
    ports: {{ service.ports }}
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - 'homepage.group=Media Backend'
      - 'homepage.name={{ service.name | capitalize }}'
      - homepage.icon=/icons/{{ service.name }}.svg
      - homepage.href=https://{{ service.name }}.antcar.casa

{% endfor %}

networks:
  zwave:

volumes:
  bazarr-config:
  deluge-config:
  esphome-config:
  grafana:
    name: grafana
  homepage-config:
  jellyfin-config:
  jellyfin-cache:
  navidrome-data:
  prom-data:
    name: prom-data
  prowlarr-data:
    name: prowlarr-data
  sabnzbd-config:
    name: sabnzbd-config
  services:
    name: services
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /services
  sonarr-data:
    name: sonarr-data
  sonarr-anime-data:
    name: sonarr-anime-data
  speedtest-data:
  zwave-config:
    name: zwave-config
