sonarr_internal_url: {{ bw_secrets.sonarr_internal_url }}
sonarr_apikey: {{ bw_secrets.sonarr_apikey }}

radarr_internal_url: {{ bw_secrets.radarr_internal_url }}
radarr_apikey: {{ bw_secrets.radarr_apikey }}
